<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div id = "signin">
        <div class="sign-header">
            <ul>
                <li class="sign-name">NiceCode</li>
                <li>Регистрация</li>
            </ul>  
        </div>
        <form method="post" id="sign-form" accept-charset="utf-8" onsubmit="send_form(event);" enctype="application/x-www-form-urlencoded">
        
            <label for="email">Email</label>
            <input id="email" name="email" type="email" value="" autofocus />
            <label for="login">Login</label>
            <input id="login" name="login" type="text" value="" autofocus />
            <label for="password">Пароль</label>
            <input id="password" name="password" type="password" value="" />
        
            <input type="submit" value="Отправить" />
        </form>
          
    </div>
    
</body>
</html>